.wrappAllInfo {
  display: flex;
}
.sidebarMenu,
.editModal {
  /* max-width: 512px; */
  min-width: 512px;
  padding: 40px;
}
.editModal {
  transition: all 0.3s linear;
  background-color: #fff;
  position: absolute;
  left: -600px;
  top: 0;
  z-index: 10;
  min-height: 100vh;
}
.userTable {
  width: 100%;
  padding: 40px;
}
.noCursor {
  cursor: default !important;
}
/* change status style */

.theme .label {
  background-color: #f1f5f9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 35px;
  border-radius: 40px;
  padding: 0px 4px 0px 4px;
  transition: all 0.3s ease-out;
}
.theme .checkbox {
  opacity: 0;
  position: absolute;
}

.theme .checkbox:checked + .label .ball {
  transform: translateX(98%);
}
.theme .checkbox:checked + .label .fa-sun {
  color: #ffffff !important;
}
.theme .checkbox:checked + .label .fa-moon {
  color: #aaaaaa !important;
}
.theme .statusUser {
  z-index: 2;
}
.theme .statusAdmin {
  z-index: 2;
}
.theme .ball {
  width: 50%;
  height: 30px;
  background: #fff;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 20px;
  transition: all 0.2s linear;
}
.invalidValidationtColor {
  color: red !important;
}
